body{
    z-index:0;
    margin: 0; 
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
 }
 
 .navbar-inverse {
     background: #303F9F;
 }
 
 .navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active > a:hover,
 .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
 }
 
 .navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
 }
 
 .navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
 .navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
 }
 
 .navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
 }

.row-header{
    margin:0px auto;
    padding:0px auto;
 }
 
  header { 
      width: 100vw;
}

 .row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
 }
 
 .row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
 }


 .jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
 }
 
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.separator {
     margin-left: 5%;
     margin-right: 5%; 
 }

#bigscreen-nav {
    display: none;
}

form {
    padding: 0.25rem; 
}

label {
    color: white;
}

label.date {
    color: black;
    margin-right: 1rem; 
}

button.reserve {
    background-color: orange;
    color: white; 
    float: right; 
}

 /* Media query for tablets and up incase needed*/
 
 @media (min-width: 768px) and (orientation: landscape) {
    
    #navbar {
        display: none; 
    }

    ul#bigscreen-nav {
        display: flex;
        flex-direction: row; 
        height: 100%; 
    }

    .collapsed {
        display: none; 
    }
    
    div.activetab {
        height: 100%;   
        background-color: rgb(85, 85, 117); 
        display: block;
    }

    .copy-right {
        margin-left: 50%;
    }

  div.horizontal {
      display: flex; 
      flex-direction: row; 

  }

  .checkbox {
      color: white; 
      margin-top: 10px; 
  }

  nav {
      position: fixed;
  }

}
  