body{
    z-index:0;
    margin: 0; 
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
 }
 
 .navbar-inverse {
     background: #303F9F;
 }
 
 .navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active > a:hover,
 .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
 }
 
 .navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
 }
 
 .navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
 .navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
 }
 
 .navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
 }

.row-header{
    margin:0px auto;
    padding:0px auto;
 }
 
  header { 
      width: 100vw;
}

 .row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
 }
 
 .row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
 }


 .jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
 }
 
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.separator {
     margin-left: 5%;
     margin-right: 5%; 
 }



form {
    padding: 0.25rem; 
}

label.login {
    color: white;
}


label.date {
    color: black;
    margin-right: 1rem; 
    margin-top: 1rem;
}

input.guests {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -0.3rem;
}

button.reserve {
    background-color: orange;
    color: white; 
    float: right; 
}

h1 {
    margin-top: 45%;
}

img {
    object-fit: cover;
    width: 120px;
    height: 120px;
}

.badge-danger {
  color: white; 
  background: linear-gradient(to left, #c05460, #e05555);
  width: 9rem;
  height: 4rem;
  font-size: 3rem;
  margin-left: 2rem;
}

.badge-secondary {
    color: white; 
    width: 6rem;
    height: 2.2rem;
    font-size: 1.8rem;
    margin-left: 0.5rem;
    border-radius: 15px;
  }


.reserveb {
    margin-top: 2rem;
}

.input-button {
 border-radius: 0; 
}

.smoking {
  margin-right: 2rem;
}


/* The modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    margin-top: 25%;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close-button {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: black;
}

.modal-body {padding: 2px 16px;}


.alert {
    z-index: 2;
}


 /* Media query for tablets and up incase needed*/
 
 @media (min-width: 768px) and (orientation: landscape) {
    
    .copy-right {
        margin-right: 15%;
        margin-left: -5rem;
        margin-top: 5rem;
        float: right; 
        }

    .horizontal {
        display: flex; 
        flex-direction: row; 

    }


    button.btn {
        margin-left: 0.5rem;
        margin-bottom: 0.5rem; 
        margin-top: 0.5rem; 
    }

    h1 {
        margin-top: 10%;
    }

    .modal { 
        margin-top: 0;
    }

    .modal-content {
        height: 80%;
    }


    label.login {
        margin-top: 0.8rem;
    }

    .uthapizza {
        margin-left: -13rem;
    }

    .badge-danger {
        margin-top: 2rem;
      }

      .badge-secondary {
        margin-top: 2.8rem;
      }


      .horizontal-center {
        display: flex; 
        flex-direction: row; 
        align-content: center;
        align-items: center;
    }

      input.login {
          margin-right: 1rem;
          height: 70%;
      }

     .meet-text {
         margin-top: -5rem;
     }

     .our-text {
        margin-left: -4rem;
    }


     .social {
         margin-left: -5rem;
         margin-top: 3rem; 
     }
}
  