body{
    z-index:0;
    margin: 0; 
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
 }
 
 .navbar-inverse {
     background: #303F9F;
 }
 
 .navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active > a:hover,
 .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
 }
 
 .navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
 }
 
 .navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
 .navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
 }
 
 .navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
 }

.row-header{
    margin:0px auto;
    padding:0px auto;
 }
 
  header { 
      width: 100vw;
}

 .row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
 }
 
 .row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
 }


 .jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
 }
 
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.separator {
     margin-left: 5%;
     margin-right: 5%; 
 }



form {
    padding: 0.25rem; 
}

label.login {
    color: white;
}


label.date {
    color: black;
    margin-right: 1rem; 
}

input.guests {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -0.3rem;
}

button.reserve {
    background-color: orange;
    color: white; 
    float: right; 
}

h1 {
    margin-top: 45%;
}

img {
    object-fit: cover;
    width: 120px;
    height: 120px;
}

.badge-danger {
  color: white; 
  background: linear-gradient(to left, #c05460, #e05555);
  width: 9rem;
  height: 4rem;
  font-size: 3rem;
  margin-left: 2rem;
}

.reserveb {
    margin-top: 2rem;
}

 /* Media query for tablets and up incase needed*/
 
 @media (min-width: 768px) and (orientation: landscape) {
    
    .copy-right {
        margin-right: 15%;
        margin-left: -5rem;
        margin-top: 5rem;
        float: right; 
        }

    .horizontal {
        display: flex; 
        flex-direction: row; 

    }


    button.btn {
        margin-left: 0.5rem;
        margin-bottom: 0.5rem; 
        margin-top: 0.5rem; 
    }

    h1 {
        margin-top: 10%;
    }


    label.login {
        margin-top: 0.8rem;
    }

    .uthapizza {
        margin-left: -13rem;
    }

    .badge-danger {
        margin-top: 2rem;
      }

      .horizontal-center {
        display: flex; 
        flex-direction: row; 
        align-content: center;
        align-items: center;
    }

      input.login {
          margin-right: 1rem;
          height: 70%;
      }

     .meet-text {
         margin-top: -5rem;
     }

     .our-text {
        margin-left: -4rem;
    }


     .social {
         margin-left: -5rem;
         margin-top: 3rem; 
     }
}
  